<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Profissional</title>
    <link rel="stylesheet" href="/static/CSS/sobre.css">
</head>
<body>
    <div class="container">
        <main class="content">
            <section class="info-pessoal">
                <div class="info-card">
                    <h2>Informações pessoais:</h2>
                    <div class="info-cont">
                        <p><strong>Nome:</strong> Ednaldo Alves Pessoa Filho</p>
                        <p><strong>Data de nascimento:</strong> xx/xx/xxxx (xx)</p>
                        <p><strong>Endereço:</strong> xxxx - xxxx/xx</p>
                        <p><strong>Telefone:</strong> (81) xxxx-xxxx</p>
                        <p><strong>E-mail:</strong> xxxxxx@gmail.com</p>
                    </div>
                </div>
                <div class="info-card">
                    <h2>Objetivo/Foco:</h2>
                    <div class="info-cont">
                        <p>Escreva aqui seu foco/objetivo</p>
                    </div>
                </div>
            </section>

            <section class="info-section">
                <div class="info-card">
                    <h2>Informações profissionais:</h2>
                    <div class="info-cont">
                        <p><strong>Especialista formado em:</strong> xx</p>
                        <p><strong>Período de experiência:</strong> xx</p>
                        <p><strong>Competências e habilidades:</strong></p>
                        <textarea readonly>xxxxxxxx, xxxxxxxx, xxxxxxxx, xxxxxxxxxxxxxx</textarea>
                    </div>
                </div>
            </section>

            <section class="info-cert">
                <div class="info-cert-card">
                    <h2>Certificados:</h2>
                    <div class="certificates">
                        <div class="certificate"></div>
                        <div class="certificate"></div>
                        <div class="certificate"></div>
                        <div class="certificate"></div>
                        <div class="certificate"></div>
                        <div class="certificate"></div>
                        <div class="certificate"></div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
